.App {
  display: flex;
  justify-content: center;
}

.heading {
  text-align: center;
}

.container {
  width: 600px;
  background-color: #cbf2cb;
  margin-top: 20px;
}

.convert-box {
  display: flex;
  padding: 10px;
  text-align: center;
}

.actions-box {
  width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}

button {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  border-radius: 4px;
}

.actions-box button:first-child {
  margin-bottom: 20px;
}

.csv-box,
.json-box {
  flex: 1;
  height: 190px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.disabled {
  background-color: rgba(0, 0, 0, 0.3);
  cursor: auto;
}

.btn-clear {
  margin-left: 10px;
  margin-bottom: 10px;
}
